@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn1s {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in-1s {
  animation: fadeIn1s 1s ease-in-out;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #00537c;
  
}

.fondo-eco {
  background-color: #00537c;
}

.fondo-eco-gris {
  background-color: #443a30;
}

.fondo-barro-eco {
  background-color: #ff9e36;
}

.fondo-barro-agua {
  background-color: #00b2e6;
}

.texto-barro-agua {
  color: #00b2e6;
}

/* En tu archivo CSS global o módulo */
.ant-rate-star {
  
  border-radius: 4px;
  margin-right: 4px;
  padding: 2px;
  transition: border-color 0.2s ease;
}

.ant-rate-star:hover {
  border-color: #f59e0b; /* amarillo al pasar el mouse */
}